* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

.wrapper-reg,
.wrapper-auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background: #121212;
}

.wrapper-auth {
    margin-top: 50px;
}

h1 {
    color: #FFF;
    font: 700 44px Inter;
    text-align: center;
}

input {
    width: 352px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #BB86FC;
    background: #121212;
    color: #FFF;
}

.btn-reg,
.btn-auth {
    width: 352px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background: #6200EE;
    color: #FFF;
    font: 500 15px Inter;
}